<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beautycoder.pflockscreen" >
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity
            android:name="com.beautycoder.pflockscreen.activities.TestActivity"
            android:theme="@style/Theme.AppCompat.DayNight"/>
    </application>
</manifest>
